@import "tailwindcss";
/* biome-ignore lint/suspicious/noUnknownAtRules: For some reason, biome doesn't accept this at-rule */
@plugin "daisyui" {
  /* biome-ignore lint/correctness/noUnknownProperty: This is correct way of customizing daisyui themes */
  themes:
    light --default,
    dark --prefersdark,
    night;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
